
* {
  margin: 0;
  padding: 0;
  outline-color: transparent;
  border-color: transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

*:before,
*:after {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




body {
  height: auto; 
  color: #2f4f4f; 
  background-color: #e6fafd; 
  font-family: "Lato", sans-serif;
  text-align: center;
}

.mainContainer {
  max-width: 960px; 
  height: 90vh;
  padding:0 10px;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.textContainer {
  height: 50%;
  width: 100%;
}

#title {
  width: 100%;
  height: 50%;
  margin-top: 10%;
  padding: 50px 0 0 0;
  font: 400 70px "Monoton", cursive;
  display: flex;
  display: -webkit-flex; 
  align-items: flex-end;
  justify-content: center;
}




.paraContainer {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.formContainer {
  height: 50%;
  width: 100%;
  display: flex;
  display: -webkit-flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  width: 100%;
  height: 70%;
  display: flex;
  display: -webkit-flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e6fafd; 
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.card {
  width: 100%;
  height: 100%;
  background-color: #fffaf0; 
  border-radius: 4px;
  border: 1px solid #e6fafd; 
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); 
  -webkit-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

#languages {
  display: flex;
  display: -webkit-flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 4px groove #e6fafd; 
}


.btnLangContainer {
  height: 50px;
  display: flex;
  display: -webkit-flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 4px;
}



.heatherText {
  height: 50px;
  border: none;
  font: 400 20px "Lato", sans-serif;
  background-color:  #fffaf0; 
}


#en1 {
  border-top-left-radius: 4px;
  border-bottom: 3px solid #d2691e; 
}

#en1
 {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; 
}



.arrowContainer {
  width: 10%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}


#alternate {
  width: 47px;
  height: 47px; 
  color: #2f4f4f;
  background-color: #fffaf0; 
  text-decoration: none;
  border-radius: 50%;
  border: none;
  border-color: transparent;
  cursor: default;
  display: flex;
  display: -webkit-flex; 
  align-items: center;
  justify-content: center;
}

.doubleArrow {
  display: block;
  font: 300 24px "Lato", sans-serif;
}


#divideSpace {
  height: calc(100% - 54px);
  width: 100%;
  display: flex;
  display: -webkit-flex;
  /* margin-left: 8%; */
  flex-direction: row;
  /* align-items: center;
  justify-content: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; */
}


#enterText,#outputText {
  width: 50%;
  height: 100%;
  display: flex;
  display: -webkit-flex; 
  flex-direction: row;
}




#outputText,
#enterText {
  padding: 10px 0 0 10px;
  height: 100%;
  border: none; 
  border-color: transparent; 
  resize: none;
}

#outputText {
  font: 700 18px "Lato", sans-serif;
  width: 100%;
  background-color: #faebd7; 
}

#enterText {
  font: 400 18px "Lato", sans-serif;
  width: calc(100% - 50px); 
  color: #696969; 
  background-color: #fffaf0; 
  border-bottom-left-radius: 4px;
}

#enterText:focus,
#enterText:hover {
  outline: none;
  outline-color: transparent;
  color: #696969; 
}





.submitContainer {
  width: 100%;
  height: 30%;
  display: flex;
  display: -webkit-flex; 
  align-items: center;
  justify-content: center;
}


#textSubmit {
  font: 400 20px "Lato", sans-serif;
  cursor: pointer;
  color: #2f4f4f;
  background-color: #12ca31; 
  padding: 15px 70px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #fffaf0; 
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; 
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}


#textSubmit:hover {
  color: #e6fafd; 
  background-color: #07b310; 
  border-radius: 4px;
  border: 1px solid #03490e;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}






@media screen and (min-width: 951px) and (max-width: 1200px)and (orientation: landscape){


  #title {
    padding: 95px 0 0 0;
    font: 400 50px "Monoton", cursive;
  }

  #subTitle {
    font: 400 20px "Lato", sans-serif;
  }

  
}



  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
